<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Scripts -->
    <script src="https://unpkg.com/@phosphor-icons/web" defer></script>

    <!-- Style -->

    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/btns.css" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />

    <title>Gaming Web Site</title>
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <a href="/"> <i class="ph ph-finn-the-human"></i></a>
      </div>

      <div class="nav">
        <div class="social-midia">
          <a href="#"> <i class="ph ph-instagram-logo"></i></a>
          <a href="#"> <i class="ph ph-linkedin-logo"></i></a>
          <a href="#"><i class="ph ph-youtube-logo"></i></a>
          <a href="#"><i class="ph ph-twitter-logo"></i></a>
          <a href="#"><i class="ph ph-twitch-logo"></i></a>
        </div>

        <nav class="menu-nav">
          <ul>
            <li><a href="">HOME</a></li>
            <li><a href="">SOBRE</a></li>
            <li><a href="">PORTIFOLIO</a></li>
          </ul>

          <div class="box-nav">
            <a href="">NOVIDADES</a>
            <button class="btn-03"><a href="#">CONTATO</a></button>
          </div>
        </nav>
      </div>
    </header>

    <main class="container">
      <section class="home">
        <div class="home-principal">
          <p><strong>Proved By prodesigner </strong></p>

          <h2>Work that we produce for our clients</h2>

          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard.
          </p>

          <button class="btn-o1">Get more details</button>
        </div>
        <div class="home-img">
          <img src="img/pexels-photo-139038.jpeg" alt="" />
        </div>
      </section>
      <section class="see-all">
        <div>
          <h2>Currently Trending Games</h2>

          <button class="btn-02">SEE ALL</button>
        </div>
        <div class="box-cards">
          <div class="card-game">
            <div>
              <img src="img/Elden_Ring_capa.jpg" alt="" />
            </div>

            <span>
              <i class="ph ph-fire"></i>
              <p>40<strong>Followers</strong></p>
            </span>
          </div>
          <div class="card-game">
            <img src="img/sekiro-02.png" alt="" />

            <span>
              <i class="ph ph-fire"></i>
              <p>40<strong>Followers</strong></p>
            </span>
          </div>
          <div class="card-game">
            <img src="img/kleiton-04.jpg" alt="" />

            <span>
              <i class="ph ph-fire"></i>
              <p>40<strong>Followers</strong></p>
            </span>
          </div>
          <div class="card-game" data-aos-delay="300" data-aos="fade-up">
            <img src="img/assassings-03.jpg" alt="" />

            <span>
              <i class="ph ph-fire"></i>
              <p>40<strong>Followers</strong></p>
            </span>
          </div>
        </div>
      </section>

      <h2 class="msg-01 container">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </h2>

      <section class="segunda-sessao-home container">
        <div class="home-secundaria">
          <h2>Lorem Ipsum</h2>

          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s,
          </p>
        </div>

        <div class="home-secundaria-img container">
          <img src="img/sipermam.png" alt="" />
        </div>
      </section>

      <div class="bg-home-03">
        <section class="terceira-sessao-home container">
          <div>
            <h2>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </h2>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam,
              perspiciatis provident! Vitae voluptate odit vel ea aspernatur a
              architecto illum aliquid, laborum quisquam accusantium in placeat
              dolor ullam mollitia velit?
            </p>
          </div>

          <div class="box-plataform">
            <div class="card-plataform item-01">
              <div><i class="ph ph-desktop"></i></div>
              <div><p>PC Game Development</p></div>
              <div><i class="ph ph-arrow-right"></i></div>
            </div>
            <div class="card-plataform item-01">
              <div><i class="ph ph-desktop"></i></div>
              <div><p>PC Game Development</p></div>
              <div><i class="ph ph-arrow-right"></i></div>
            </div>
            <div class="card-plataform item-01">
              <div><i class="ph ph-desktop"></i></div>
              <div><p>PC Game Development</p></div>
              <div><i class="ph ph-arrow-right"></i></div>
            </div>
            <div class="card-plataform item-01">
              <div><i class="ph ph-desktop"></i></div>
              <div><p>PC Game Development</p></div>
              <div><i class="ph ph-arrow-right"></i></div>
            </div>
            <div class="card-plataform item-02">
              <div><i class="ph ph-desktop"></i></div>
              <div><p>PC Game Development</p></div>
              <div><i class="ph ph-arrow-right"></i></div>
            </div>
            <div class="card-plataform item-03">
              <div><i class="ph ph-desktop"></i></div>
              <div><p>PC Game Development</p></div>
              <div><i class="ph ph-arrow-right"></i></div>
            </div>
          </div>
        </section>
      </div>

      <section class="projects">
        <h2>Our Recent Projects</h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and
          typesettingsdaasdasdasdasd ddasdasdasdasd industry.
        </p>

        <div class="box-projects">
          <div class="card-project">
            <img src="img/Elden_Ring_capa.jpg" alt="" />
          </div>
          <div class="card-project">
            <img src="img/Elden_Ring_capa.jpg" alt="" />
          </div>
          <div class="card-project">
            <img src="img/Elden_Ring_capa.jpg" alt="" />
          </div>
          <div class="card-project">
            <img src="img/Elden_Ring_capa.jpg" alt="" />
          </div>
          <div class="card-project">
            <img src="img/Elden_Ring_capa.jpg" alt="" />
          </div>
          <div class="card-project">
            <img src="img/Elden_Ring_capa.jpg" alt="" />
          </div>
        </div>
        <button class="btn-02"><a href="">SEE ALL</a></button>
      </section>

      <section class="box-form">
        <div class="form-title">
          <h2>Lorem Ipsum</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </div>

        <form action="">
          <div>
            <h2>Stay in the loop</h2>
            <p>
              Subscribe to receive the latest news and updates about TDA. We
              promise not to spam you!
            </p>
          </div>

          <div class="input-form">
            <input type="text" />
            <button class="btn-03">Continue</button>
          </div>
        </form>
      </section>
    </main>
    <footer>
      <div class="container footer">
        <div class="logo logo-footer">
          <a href="/"> <i class="ph ph-finn-the-human"></i></a>
        </div>
        <div class="about-footer">
          <h3>Abaut us</h3>

          <ul>
            <li><a href="">HOME</a></li>
            <li><a href="">SOBRE</a></li>
            <li><a href="">PORTIFOLIO</a></li>
          </ul>
        </div>
        <div class="contact-footer">
          <h3>Contact us</h3>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum hic
            dolor neque. Reiciendis voluptas, mollitia adipisci quos harum
          </p>

          <strong> 55 11 987654321</strong>
        </div>

        <div class="social-midia social-media-footer">
          <a href="#"> <i class="ph ph-instagram-logo"></i></a>
          <a href="#"> <i class="ph ph-linkedin-logo"></i></a>
          <a href="#"><i class="ph ph-youtube-logo"></i></a>
          <a href="#"><i class="ph ph-twitter-logo"></i></a>
          <a href="#"><i class="ph ph-twitch-logo"></i></a>
        </div>
      </div>
    </footer>
  </body>
</html>
