<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("components/head") %>

  <body>
    <%- include("components/header") %>

    <main class="container">
      <section class="home">
        <div class="home-principal">
          <p><strong>Proved By prodesigner </strong></p>

          <h2>Work that we produce for our clients</h2>

          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard.
          </p>

          <button class="btn-o1">Get more details</button>
        </div>
        <div class="home-img">
          <img src="img/pexels-photo-139038.jpeg" alt="" />
        </div>
      </section>
      <section class="see-all">
        <div>
          <h2>Currently Trending Games</h2>

          <button class="btn-02">SEE ALL</button>
        </div>
        <div class="box-cards">
          <div class="card-game">
            <div>
              <img src="img/Elden_Ring_capa.jpg" alt="" />
            </div>

            <span>
              <i class="ph ph-fire"></i>
              <p>40<strong>Followers</strong></p>
            </span>
          </div>
          <div class="card-game">
            <img src="img/sekiro-02.png" alt="" />

            <span>
              <i class="ph ph-fire"></i>
              <p>40<strong>Followers</strong></p>
            </span>
          </div>
          <div class="card-game">
            <img src="img/kleiton-04.jpg" alt="" />

            <span>
              <i class="ph ph-fire"></i>
              <p>40<strong>Followers</strong></p>
            </span>
          </div>
          <div class="card-game" data-aos-delay="300" data-aos="fade-up">
            <img src="img/assassings-03.jpg" alt="" />

            <span>
              <i class="ph ph-fire"></i>
              <p>40<strong>Followers</strong></p>
            </span>
          </div>
        </div>
      </section>

      <h2 class="msg-01 container">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </h2>

      <section class="segunda-sessao-home container">
        <div class="home-secundaria">
          <h2>Lorem Ipsum</h2>

          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s,
          </p>
        </div>

        <div class="home-secundaria-img container">
          <img src="img/sipermam.png" alt="" />
        </div>
      </section>

      <div class="bg-home-03">
        <section class="terceira-sessao-home container">
          <div>
            <h2>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </h2>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam,
              perspiciatis provident! Vitae voluptate odit vel ea aspernatur a
              architecto illum aliquid, laborum quisquam accusantium in placeat
              dolor ullam mollitia velit?
            </p>
          </div>

          <div class="box-plataform">
            <div class="card-plataform item-01">
              <div><i class="ph ph-desktop"></i></div>
              <div><p>PC Game Development</p></div>
              <div><i class="ph ph-arrow-right"></i></div>
            </div>
            <div class="card-plataform item-01">
              <div><i class="ph ph-desktop"></i></div>
              <div><p>PC Game Development</p></div>
              <div><i class="ph ph-arrow-right"></i></div>
            </div>
            <div class="card-plataform item-01">
              <div><i class="ph ph-desktop"></i></div>
              <div><p>PC Game Development</p></div>
              <div><i class="ph ph-arrow-right"></i></div>
            </div>
            <div class="card-plataform item-01">
              <div><i class="ph ph-desktop"></i></div>
              <div><p>PC Game Development</p></div>
              <div><i class="ph ph-arrow-right"></i></div>
            </div>
            <div class="card-plataform item-02">
              <div><i class="ph ph-desktop"></i></div>
              <div><p>PC Game Development</p></div>
              <div><i class="ph ph-arrow-right"></i></div>
            </div>
            <div class="card-plataform item-03">
              <div><i class="ph ph-desktop"></i></div>
              <div><p>PC Game Development</p></div>
              <div><i class="ph ph-arrow-right"></i></div>
            </div>
          </div>
        </section>
      </div>

      <section class="projects">
        <h2>Our Recent Projects</h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and
          typesettingsdaasdasdasdasd ddasdasdasdasd industry.
        </p>

        <div class="box-projects">
          <div class="card-project">
            <img src="img/Elden_Ring_capa.jpg" alt="" />
          </div>
          <div class="card-project">
            <img src="img/Elden_Ring_capa.jpg" alt="" />
          </div>
          <div class="card-project">
            <img src="img/Elden_Ring_capa.jpg" alt="" />
          </div>
          <div class="card-project">
            <img src="img/Elden_Ring_capa.jpg" alt="" />
          </div>
          <div class="card-project">
            <img src="img/Elden_Ring_capa.jpg" alt="" />
          </div>
          <div class="card-project">
            <img src="img/Elden_Ring_capa.jpg" alt="" />
          </div>
        </div>
        <button class="btn-02"><a href="">SEE ALL</a></button>
      </section>

      <section class="box-form">
        <div class="form-title">
          <h2>Lorem Ipsum</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </div>

        <form action="">
          <div>
            <h2>Stay in the loop</h2>
            <p>
              Subscribe to receive the latest news and updates about TDA. We
              promise not to spam you!
            </p>
          </div>

          <div class="input-form">
            <input type="text" />
            <button class="btn-03">Continue</button>
          </div>
        </form>
      </section>
    </main>

    <%- include("components/footer") %>
  </body>
</html>
