<header class="header">
  <div class="logo">
    <a href="/"> <i class="ph ph-finn-the-human"></i></a>
  </div>

  <div class="nav">
    <div class="social-midia">
      <a href="#"> <i class="ph ph-instagram-logo"></i></a>
      <a href="#"> <i class="ph ph-linkedin-logo"></i></a>
      <a href="#"><i class="ph ph-youtube-logo"></i></a>
      <a href="#"><i class="ph ph-twitter-logo"></i></a>
      <a href="#"><i class="ph ph-twitch-logo"></i></a>
    </div>

    <nav class="menu-nav">
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="">SOBRE</a></li>
        <li>
          <a
            href="
          "
            >PORTIFOLIO</a
          >
        </li>
      </ul>

      <div class="box-nav">
        <span>
          <a href="">NOVIDADES</a>
        </span>

        <button class="btn-03"><a href="#">CONTATO</a></button>
      </div>
    </nav>
  </div>
</header>
