<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Scripts -->
  <script src="https://unpkg.com/@phosphor-icons/web" defer></script>

  <!-- Style -->

  <link rel="stylesheet" href="css/global.css" />
  <link rel="stylesheet" href="css/home.css" />
  <link rel="stylesheet" href="css/btns.css" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
    rel="stylesheet"
  />

  <title>Gaming Web Site</title>
</head>
